@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    user-select: none;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
        rgb(209, 213, 219) 0px 0px 0px 1px inset;
    @apply w-[90vw] max-w-[500px] p-3 rounded-lg;
}

.btn {
    @apply px-3 py-0.5 rounded-md text-lg tracking-wider font-medium;
}

.trans {
    @apply transition-all ease-linear duration-200;
}

.form-control {
    @apply flex flex-col mb-5 gap-3;
}

h1 {
    @apply text-4xl tracking-wide;
}

h3 {
    @apply flex justify-between text-2xl mb-1 font-medium;
}

p {
    @apply text-xl;
}

label.text {
    @apply text-lg;
}

input.text {
    @apply bg-transparent border-0 border-b-[2px] border-b-white block w-full px-0 text-sm;
}

input:focus {
    @apply outline-none
}

input.text:focus,
input.text:valid {
    @apply border-b-slate-500;
}